/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

.logo1 img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Keep it the same as width for a perfect circle */
    border-radius: 50%; /* Makes the image circular */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}
